<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <form action="/team" method="POST">
     <label for="">Team Name:</label> <%= @name %>
     <br>
     <label for="">Coach:</label> <%= @coach %>
     <br>
     <label for="">Point Guard:</label> <%= @pg %>
     <br>
     <label for="">Shooting Guard:</label> <%= @sg %>
     <br>
     <label for="">Small Forward:</label> <%= @sf %>
      <br>
     <label for="">Power Forward:</label> <%= @pf %>
     <br>
     <label for="">Center:</label> <%= @c %>
   </form>
 </body>
</html>
