<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1> Team Name: <%=@team_name%> </h1>
   <h2> Coach: <%=@coach%> </h2>
   <h3> Point Guard: <%=@point_guard%> </h3>
   <h4> Shooting Guard: <%=@shooting_guard%> </h4>
   <h5> Small Forward: <%=@small_forward%> </h5>
   <h6> Power Forward: <%=@power_forward%> </h6>
   <h7> Center: <%=@center%> </h7>
 </body>
</html>
